<a class="max-w-[63px] block" href="/">
  <picture class="block">
    {% if mobileUrl %}
      <source media="(max-width: 767px)" srcset="{{ mobileUrl }}" />
    {% endif %}
    {% if url %}
      <img 
        {% if width %}
          width="{{width}}"
        {% endif %}
        {% if height %}
          height="{{height}}"
        {% endif %}
        class="w-full !h-full object-cover" 
        src="{{ url }}" 
        alt="{{ alt }}" 
      />
    {% endif %}
  </picture>
</a>
