{% if (link.title and link.url) or isAdmin %}
  {% set btnClasses = 'btn' %}

  {% if btn_style == 'simple' %}
    {% set btnClasses = 'btn-simple' %}
  {% endif %}

  {% if blockAttributes.class %}
    <div class="{{ blockAttributes.class }}">
  {% endif %}

  <a 
    href="{{ link.url }}" 
    class="block-btn not-prose {{ btnClasses }} {{ custom_classes }}" 
    target="{{ link.target }}" 
    rel="{{ rel }}"
  >
    {% if btn_style != 'simple' %}
    <i class="fa-sharp fa-light fa-arrow-right"></i>
    {% endif %}
    <span>{{ (isAdmin and (not link.title)) ? '<span>Configure</span>' : link.title | raw }}</span>
  </a>
  
  {% if blockAttributes.class %}
    </div>
  {% endif %}
{% endif %}