<a 
  href="{{ url }}" 
  class=" not-prose inline-block font-normal text-4xl uppercase rounded-l-full rounded-r-full px-4 py-2 border border-black no-underline {{ class }} {{ size }} {{ align }}" 
  target="{{ target }}" 
  rel="{{ rel }}">
    {{ text }}
</a>