<div class="bg-[#ebecf0] group/postcard text-black">
  <a href="{{ link.url }}" class="bg-[#ebecf0] block overflow-hidden [&_img]:scale-[1.005] [&_img]:duration-300 group-hover/postcard:[&_img]:scale-[1.05]">
    {% if image %}
      {% include 'image.twig' %}
    {% else %}
      <div class="aspect-[3/2] bg-slate-400"></div>
    {% endif %}
  </a>

  <div class="px-5 py-8">
    <p class="text-16 opacity-50 mb-5">{{ date }}</p>
    <h3 class="text-fluid-24"><a href="{{ link.url }}">{{ title | raw }}</a></h3>

    <div class="flex justify-between items-center mt-8">
      <a href="{{ link.url }}" class="text-blue-500">{{ link.title }}</a>

      {% if category %}
        <a href="{{ category.url }}" class="text-blue-500" data-category="{{ category.slug }}">
          {{ category.name | raw }}
        </a>
      {% endif %}
    </div>
  </div>
</div>
