<div class="{{ wrapperClass }} relative {% if isAdmin %} flex-shrink-0 {% endif %}">
  {% if image %}
    {% include "image.twig" with {aspect: "aspect-[375/480] lg:aspect-video"} %}
  {% endif %}

  {% if image is empty %}
  <div class="block aspect-video">
    <div class="w-full !h-full bg-gray-200"></div>
  </div>
  {% endif %}

  <div class="absolute inset-0 bg-black/25"></div>

  <div
    class="absolute inset-0 flex items-center justify-center prose {{ classes.prose.color }} {{ classes.prose.size }} max-w-none">
    <div class=" container py-8 {% if isAdmin %}outline-1 outline-dashed transition-all duration-300{% endif %}">
      <InnerBlocks 
        allowedBlocks="{{ allowedBlocks | wp_json_encode }}" 
        template="{{ template | wp_json_encode }}" 
      />
    </div>
  </div>

</div>