<section class="{{ wrapperClass }} relative overflow-hidden">
    <peach-slider>
          {% for slide in slides %}
            <div class="relative w-full {% if isAdmin %} shrink-0 {% endif %}">
            {% if slide.image %}
            <div class="block aspect-[375/480] lg:aspect-video">
              <img
                src="{{ slide.image.url }}"
                alt="{{ slide.image.alt|default('') }}"
                class="w-full h-full object-cover"
                loading="lazy"
              />
            </div>
            {% endif %}
              {% if slide.image is empty %}
                <div class="block aspect-video">
                  <div class="w-full min-h-screen h-full! bg-gray-200"></div>
                </div>
              {% endif %}
              <div class="absolute inset-0 bg-black/25"></div>
              <div class="absolute inset-0 flex flex-col items-center justify-center rt in {{ classes.prose.color }} {{ classes.prose.size }} max-w-none">
                {% if slide.heading %}
                  <h2 class="{% if slide.slide_style == 'light' %} text-white {% endif %}">{{ slide.heading }}</h2>
                {% endif %}
                {% if slide.content %}
                  <p class="{% if slide.slide_style == 'light' %} text-white {% endif %}">{{ slide.content }}</p>
                {% endif %}
                {% if slide.link and slide.link.url %}
                  <x-button href="{{ slide.link.url }}" type="{{ type }}" hideOnDesktop="{{ hide_on_desktop }}" hideOnMobile="{{ hide_on_mobile }}">
                    {{ slide.link.title }}
                  </x-button>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </peach-slider>

</section>
